
.container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.toolbar-spacer {
  flex: 1 1 auto;
}

.side-nav-container {
  flex: 1 1 auto;
}

mat-nav-list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  & button {
    font-size: large;
    justify-content: start;

    & fa-icon {
      margin-right: 0.5em;
    }
  }
}
